<div class="row">
  <div class="col-sm-12">
    <div class="card col-xs-12">
      <div class="card-body">
        <span class="font-weight-bold">Filtros</span>
      </div>
    </div>
    <div class="card col-xs-12">
      <div class="card-body">
        <figure class="float-left">
          <img src="assets/icons/filters/search.svg" alt="">
          <figcaption class="font-weight-bold">
            Nombre de hotel
          </figcaption>
        </figure>
        <div class="float-right">
          <i class="fas" (click)="changet()" [ngClass]="{'fa-sort-down':!toggle1,'fa-sort-up':toggle1}"></i>
        </div>
        <div class="input-group" [ngStyle]="{'display':toggle1 ? 'flex' : 'none' }">
          <div class="custom-file">
            <input type="text" class="form-control" placeholder="Ingrese el nombre del hotel" [(ngModel)]="name">
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-primary btn-sm" (click)="buscar()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-xs-12">
      <div class="card-body">
        <div class="container-star">
          <div class="float-left">
            <figure>
              <am-star></am-star>
              <figcaption class="font-weight-bold">
                Estrellas
              </figcaption>
            </figure>
          </div>
          <div class="float-right">
            <i class="fas" (click)="changet2()" [ngClass]="{'fa-sort-down':!toggle2,'fa-sort-up':toggle2}"></i>
          </div>
        </div>
        <div [ngStyle]="{'display':toggle2 ? 'block' : 'none' }">


          <div class="custom-control custom-checkbox split">
            <input type="checkbox" class="custom-control-input" id="fullStars" (change)="changeFull()" [(ngModel)]="full">
            <label class="custom-control-label font-weight-bold" for="fullStars">Todas las estrellas </label>
          </div>

          <div *ngFor="let star of stars;let index = index">
            <ul>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [id]="index" [(ngModel)]="starC[index]" (click)="changeValue(index)">

                <label class="custom-control-label" [for]="index">
                  <li *ngFor="let i of star">
                    <am-star (color)="yellow"></am-star>
                  </li>
                </label>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>